* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    font-family: Arial, sans-serif;
    background: #294555;
    color: #fff;
}
h2 {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}
pre {
    max-width: 600px;
    width: 100%;
    max-height: 300px;
    margin: 20px auto;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
    background-color: rgba(0,0,0,0.5);
    padding: 10px 0;
}
#checkout {
    background: #fff;
    padding: 10px;
    color: #333;
    font-size: 18px;
    width: 260px;
    display: block;
    text-align: center;
    margin: 100px auto;
}

.jlider_frame {
    position: relative;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}